<div class="col s12 m12 l12 center">
  <a href="#dashboard" class="dashboard waves-effect waves-light btn-large modal-trigger  tooltipped"  data-position="bottom" data-delay="0" data-tooltip="Open user Dashboard">
     Dashboard
  </a>
</div>