<a href="#edit_user_detail" class="waves-effect waves-light btn-floating modal-trigger btn right <%= random_color %> tooltipped"  data-position="bottom" data-delay="0" data-tooltip="Edit your Frofile" data-id="<%= @user.id %>">
  <i class="material-icons">mode_edit</i>
</a>